* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.filter-label {
  font-size: smaller;
}

.product {
  margin-bottom: 30px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.product-title {
  font-size: small;
}

.product-img {
  width: 200px;
  height: 200px;

}
#categories {
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  left: -100%;
  transition: left 0.2s ease;
  width: 450px;
  background-color: cornflowerblue;
  padding: 10px;
}

#categories .filter-input {
  display: inline;
}

#categories .filter-input:checked + .filter-label {
  background-color: burlywood;
}

#categories:target {
  left: 0;
}

.title {
  text-align: center;
}

#products {
  width: 100%;
}

.add-cart-btn {
  width: 45px;
  height: 35px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: transparent;
}

.product-container {
  display: flex;
  justify-content: center;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cart-item {
  font-size: small;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.delete-item-btn {
  width: max-content;
  padding: 0 5px;
}

#shopping-cart {
  width: max-content;
  margin: 0 auto;
  list-style: none;
}

.cart-info {
  text-align: center;
}

#cart {
  width: 650px;
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: cadetblue;
}

#cart:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}



header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
  height: 30px;
<<<<<<< HEAD

=======
  scroll-margin: 40px;
>>>>>>> 81b17b3e94da2ad0bf60a7336e0101d82a36e2a7

}

header .buttons, #search-box{
    display: flex;
    justify-content: space-evenly;
    flex-grow: .4;
}

#search-box form {
  width: 100%;
}

#search-box input {
  display: block;
  width: 100%;
  text-align: center;
<<<<<<< HEAD
}

main {
  padding-top: 40px;
=======
>>>>>>> 81b17b3e94da2ad0bf60a7336e0101d82a36e2a7
}