* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.filter-label {
  font-size: smaller;
}

.tac-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  object-fit: contain;
  top: 0;
  left: 0;
}

.product {
  position: relative;
  margin-bottom: 30px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.product-title {
  font-size: small;
}

.product-img {
  width: 200px;
  height: auto;  
}


.hover-dropdown {
  position: relative;
}

#categories-list {
  display: none;
  
}

.hover-dropdown:hover #categories-list {
  position: absolute;
  top: 100%;
  z-index: 1024;
  display: block;
  width: max-content;
  padding: 20px;
  background-color: #f8f9fa;
  list-style: none;
  text-align: left;
  
}
/*Barra desplegable menu*/
summary{
  padding: 25px;
  border-bottom: 1px solid #809589;
}

.filter-input {
  display: none;
}

.filter-label {
  display: block;
  width: 100%;
  padding: 2.5px;
  text-align: center;
}

.filter-input:checked + .filter-label {
  background-color:#809589;
}

#categories:target {
  left: 0;
  
}

.title {
  text-align: center;
  font-family: roboto;
  color: #42596B;
}

#products {
  width: 100%;
}

.add-cart-btn {
  width: 45px;
  height: 35px;
  background-image: url(../img/iconos/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color:transparent;
}

.product-container {
  display: flex;
  justify-content: center;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cart-item {
  font-size: small;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.delete-item-btn {
  width: max-content;
  padding: 0 5px;
}

#shopping-cart {
  width: max-content;
  margin: 0 auto;
  list-style: none;
}

.cart-info {
  text-align: center;
}

#cart {
  width: 340px;
  position: fixed;
  top: 10%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: white;
}
#cart a{
  text-decoration: none;
  color: white;
}

#cart:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

header .buttons, #search-box{
  display: flex;
  justify-content: space-evenly;
  flex-grow: .4;
}

#search-box form {
  width: 100%;
}

#search-box input {
  display: block;
  width: 100%;
  text-align: center;
}

main {
  padding-top: 40px;
}
/*Carousel-items*/
.carousel-item{
  width: 100%;
  
}


/*images del navbar*/
nav img{
  width: 70px;
  margin: 0%;
  padding: 0;
}

.nav-item{
  padding: 10px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  
}


/*Contacto-Footer*/
.contacto{
  width: 100%;
  background-color:#F0A54A;
  color: white;
  font-family:monospace;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 10px ;
  text-align: center;
}

.contacto h3{
  font-size: 20px;
  
}

.contacto p{
  text-align: center;
}

/*Volver*/

.volver{
  text-align: left;
  padding:20px;
  font-family: roboto;
}
.volver a{
  text-decoration: none;
  color: #F0A54A;
  padding:0;
}
.volver a:hover{
  text-decoration: none;
  color: #F0A54A;
}

/*Informacion debajo de carousel*/
.informacion{
  background-color: #809589 ;
  font-size: 16px;
  color: white;
  font-family: roboto;
  height: 250px;
  text-align: center;
  padding-top: 30px;
  
}
.informacion h3{
  font-size: 20px;
  padding: 20px;
}
.informacion p{
  font-size: 14px;
  text-align: center;
}
/*texto sobre mi ser diet*/
aside p{
  color: #42596B;
  text-align: left;
  font-family: roboto;
  font-size: 16px;
  padding: 15px;
}

.ventamayorista{
  margin: 20px;
  padding: 20px;
}

/*Titulo de sobre mi ser diet*/
.titulodesecciones{
  font-family:fantasy;
  text-align: center;
  font-size: 45px;
  margin: 20px;
  padding: 20px;
  color: #42596B;
}


.contactoyenvios h2{
  color: #809589;
  padding: 10px;
  font-family: serif;
}

.contactoyenvios p{
  color: #42596B;
  font-family: roboto;
  padding: 10px;
}

/*imagenes de venta y contactos*/
.imagenes-ventaycontacto{
  padding: 30px;
  margin: 30px;
  background-color:#E0D7D7;
}

.imagenes-ventaycontacto{
  width: 100%;
}

.recetas{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  margin: 20px;
  grid-gap: 30px;
}

.recetas img{
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.recetas h4{
  text-align: center;
  color: #42596B;
  font-size: 22px ;
  font-family: roboto;
}

.recetas button{
  width: 160px;
  padding: 20px;
  margin: 10px;
  
}

.recetasdos p{
  margin: 20px;
}

/*Responsive- Smartphone*/
@media screen and (min-device-width : 320px) and (max-device-width : 767px){








  .informacion{
    height: 100%;
  }

  .contacto p{
    text-align: left;
    margin: 10px;
  }
  .contacto h3{
    text-align: left;
    margin: 10px;
  }
  .contacto svg{
   margin: 10px;
    float: left;
  }
}

